header {
    width: 100vw;
    height: 60px;
    background: #3747ac;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.form {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 12px;

}

.input {
    border-radius: 3px;
    width: 500px;
    height: 35px;
    border-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 36px;
    font-size: 16px;
    font-weight: 600;
}
::placeholder {
    color: rgba(54, 54, 54, 0.5);
    font-weight: normal; 
  }

.icon {
    visibility:visible;
    top: 7px;
    left: 5px;
    position: absolute;
    width: 25px;
    height: 25px;
    color: black;
    cursor: pointer;
  }

  .btn {
    visibility: hidden;
  }
